
<div class="container">
    <section class="player-container row">


    
        <span *ngFor="let item of authors" class="col-1-of-2">
            <app-list-item [player] = "item" ></app-list-item>
    
        </span>
        
        <!-- <ul><li *ngFor="let item of playerList">{{item.name}}</li></ul> -->
    </section>
    
    <div class="d-flex justify-content-center">
       
        
    <div class="pagination">
        <a (click)= "OnPrevious()" type="button">&laquo;</a>
        <a>{{pageNumber}}</a>
        <a (click)= "onPageChange()" type="button">&raquo;</a>
    </div>
    
    </div>
    
    
    
    
</div>
