
<div class="container">
    <h2>Author List</h2>
    <section class="row">


    
        <span *ngFor="let item of authors" class="col-1-of-2">
            <app-list-item [player] = "item"></app-list-item>
    
        </span>
        

    </section>
    
    <div class="d-flex justify-content-center">
       
        
    <div class="pagination">
        <a (click)= "OnPrevious()" type="button">&laquo;</a>
        <a>{{pageNumber}}</a>
        <a (click)= "onPageChange()" type="button">&raquo;</a>
    </div>
    
    </div>
    
    
    
    
</div>
