<a class="card4"  >

    <h3>{{player.name}}</h3>
    <p><strong>BIO:</strong> {{player.bio}}</p>
    <p><strong>Link:</strong> {{player.link}}</p>
    <a 
    class="fav-btn"
     (click) = "checkFav ? removeFromFav(player.id) :  addToFav(player.id)"
      type="button">
      {{checkFav ? 'Remove Fav' : 'Add Fav'}}
    </a>
   <a routerLink="/author/{{player.id}}" class="details-btn"> Details</a>

    <!-- <h4>Status: {player.active ? 'Action' : 'meh'}</h4> -->
    <div class="dimmer"></div>
    <div class="go-corner" href="#">
      
    </div>
  </a>